.main {
    min-height: calc(94vh - 39px);
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.prodcard{
    height: 20vh;
    background-color: aqua;
}

.bidinput{
    height: 5vh;
    background-color: aquamarine;
}

.bid{
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.bidcol{
    flex-basis: 18%;
}
