<div class="main">
    <div class = "prodcard">
        h
    </div>
    <div class = "bidinput">
        <input type="number" class="ip" placeholder="price">
            <input type="number" class="ip" placeholder="quantity">
    </div>
    <div class = "bids">
        <div>Bids</div>
        <div class = "bid" *ngFor = "let x of [1,2]">
            <div class = "bidcol">
                Name
            </div>
            <div class = "bidcol">
                Quantity
            </div>
            <div class = "bidcol">
                Price
            </div>
            <div class = "bidcol">
                
            </div>
        </div>
    </div>
</div>