.main{
    min-height: 45vh;
    min-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.orderbilltitle{
    flex-basis: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 200%;
    text-decoration: underline;
}

.orderbillbody{
    flex-basis: 75%;
    padding: 5%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.st{
    font-size: 110%;
    font-weight: bolder;
}

.billitem{
    padding: 5% 0%;
    display: flex;
    justify-content: space-between;
}