<div class = "main">
    <div class = "orderbilltitle">
        Order Summary
    </div>
     <div class = "orderbillbody">
        <div class = "billitem">
            <div>Items:</div>  <div>₹{{cartTotal}}</div>
        </div>
        <div class = "billitem">
            <div>Shipping:</div>  <div>₹{{deliveryCharge}}</div>
        </div>
        <div class = "billitem st">
            <div>Subtotal:</div>  <div>₹{{cartSubtotal}} </div>
        </div>  
        <div class = "billitem" style="color: blue;">
            <div>Your Savings:</div>  <div>₹{{cartDiscount}}</div> 
        </div>   
    </div>
</div>
