*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main{
    min-height: calc(106vh - 39px);
    //background-image: url("../../assets/images/bg1.png");
    background-color: #FFF4F4;
    //background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    min-width: 100%;
    top: -6vh;
    left: 0;
    z-index: 1000;

}

.servererror{
    align-self: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.heading{
    font-size: 500%;
    text-align: center;
    align-self: center;
    margin: 5%;
}

.body{
    font-size: 200%;
    text-align: center;
    align-self: center;
}





