.main {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    min-height: calc(94vh - 39px);
    //background-color: aqua;
    width: 80vw;
    //overflow-y: auto;
    //max-width: 100vw;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.itemmain {
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itempic {
    flex-basis: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic {
    width: 80%;
    box-shadow: 5px 5px 5px silver;
}

.itemdesc {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 0% 2%;
}

.headinfo {
    margin-top: 10%;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: solid thin silver;
}
.itemtitle {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 300%;
    //margin-bottom: 2%;
}

.baseprice {
    font-size: 150%;
    color: blue;
    flex-basis: 20%;
}

.itemrating {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bodyinfo {
    flex-basis: 50%;
}
.itemdescbody {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    //background-color: gray;
}

.itemdesccont {
    //flex-basis: 80%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 200%;
    line-height: 1;
}

.seller {
    //flex-basis: 10%;
    font-size: 150%;
    margin-top: 2%;
    color: gray;
}

.itemcosting {
    flex-basis: 50%;
    max-height: 50%;
}

.itemcosttitle {
    height: 10%;
    font-size: 200%;
}

.prices {
    //flex-basis: 90%;
    height: 100%;
    //overflow-y: auto;
}

.price {
    border-top: solid thin silver;
    border-bottom: solid thin silver;
    padding: 2%;
    font-size: 200%;
}



//rating
.star {
    position: relative;
    display: inline-block;
    font-size: 150%;
    color: #d3d3d3;
}
.full {
    //color: var(--col4);
    color: rgb(255,215,0)
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    //color: var(--col4);
    color: rgb(255,215,0)
}

.buyitemcont {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.buyitembody {
    flex-basis: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.itemmarking {
    flex-basis: 10%;
    display: flex;
    justify-content: space-evenly;
}

.marking {
    text-align: center;
    flex-basis: 33%;
    color: gray;
}

.itembody {
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
}
.itempart {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.quantity {
    display: flex;
    flex-direction: row;
    //justify-content: space-around;
}

// .buyitem-part {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     font-size: 200%;
// }

.quantitybutton {
    background-color: var(--col4);
    color: white;
    flex-basis: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 1%;
    //font-size: 150%;
    padding: 2% 0%;
    border: solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.qb1:hover {
    background-color: var(--col4d);
    border: solid silver;
    box-shadow: none;
}

.addtocart {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.addtocartbutton {
    flex-basis: 50%;
    position: relative;
    background-color: var(--col4);
    border-radius: 2px;
    width: 100%;
    padding: 2% 5%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.addtocartbutton::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--col4vl);
   // background-color: rgb(216, 216, 216);
    width: 100%;
    height: 100%;
    //border-radius: 100%;
    opacity: 0.6;
    transform: scale(0);
    //visibility: visible;
}

@keyframes ripple {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

.addtocartbutton:hover {
    background-color: var(--col4d);
    border: solid silver;
}

.addtocartbutton:not(:active)::after {
    animation: ripple 1s ease-out;
  }

.addtocartbutton::after {
    visibility: hidden;
   // display: none;
  }
  
.addtocartbutton:focus::after {
    visibility: visible;
    //display: block;
  }

.ip {
    // height: 5vh;
    // width: 30vw;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.comments {
    margin: 2%;
    padding: 2%;
}

.commenttitle {
    font-size: 200%;
}

.comment {
    height: 10vh;
    width: 100%;
    margin: 2% 0;
    border-top: solid silver thin;
    border-bottom: solid silver thin;
}

.commentcontentcont {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
}

.commentusericon {
    flex-basis: 2.5%;
    font-size: 400%;
}

.commentuserbody {
    flex-basis: 90%;
}
.commentusername {
    height: 20%;
    margin-bottom: 0.5%;
    font-weight: bold;
    color: blue;
}

.commentcontent {
    height: 20%;
    //margin-left: 5%;
    padding: 0.2%;
    border-radius: 10px;
}

.commentstat {
    flex-basis: 30%;
}
