.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: calc(94vh - 39px);
  width: 80vw;
  //max-width: 100vw;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.catfilter {
  flex-basis: 29.5%;
  background-color: white;
  height: calc(94vh - 39px);
  //height: 88vh;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
}

.cattitle {
  flex-basis: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid thin silver;
}
.allcat {
  flex-basis: 80%;
  overflow-y: auto;
}

.maincat {
  font-size: 200%;
  margin: 2%;
}

.subcat {
  padding: 2%;
  padding-left: 5%;
}

.buttonfilter {
  flex-basis: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid thin silver;
}

.buttonfil {
  background-color: var(--col4);
  position: relative;
  border-radius: 2px;
  padding: 2% 5%;
  font-size: 150%;
  color: white;
  //box-shadow: 5px 2px 2px silver;
  border: solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.buttonfil::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--col4vl);
  top: 0;
  left: 0;
  // background-color: rgb(216, 216, 216);
  width: 100%;
  height: 100%;
  //border-radius: 100%;
  opacity: 0.6;
  transform: scale(0);
  //visibility: visible;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.buttonfil:hover {
  background-color: var(--col4d);
  border: solid silver;
  box-shadow: none;
}

.buttonfil:not(:active)::after {
  animation: ripple 1s ease-out;
}

.buttonfil::after {
  visibility: hidden;
  // display: none;
}

.buttonfil:focus::after {
  visibility: visible;
  //display: block;
}

.itemsmain {
  flex-basis: 70%;
  height: calc(94vh - 39px);
  display: flex;
  flex-direction: column;
}

.itemshead {
  height: 10vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 300%;
}
.itemsbody {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.itemsbody1 {
  display: flex;
  flex-wrap: wrap;
  //flex-direction: row;
  //justify-content: space-between;
  overflow-y: auto;
}

.itemcont {
  height: 20vh;
  background-color: white;
  border-bottom: solid thin silver;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.itemcont1 {
  height: 30vh;
  flex-basis: 20%;
  background-color: white;
  border-bottom: solid thin silver;
  display: flex;
  flex-direction: column;
  margin: 0% 2%;
  margin-bottom: 2%;
  cursor: pointer;
}

.itemcont:hover {
  background-color: rgb(223, 223, 223);
}

.itemcont1:hover {
  background-color: rgb(223, 223, 223);
}

.itempic {
  // background-color: aqua;
  flex-basis: 20%;
  padding: 2%;
}

.itempic1 {
  //background-color: aqua;
  flex-basis: 70%;
  //padding: 2%;
}

.pic {
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 5px silver;
}

.pic1 {
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 5px silver;
}

.itemdesc {
  flex-basis: 60%;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.itemdesc1 {
  flex-basis: 20%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  //background-color: aquamarine;
}

.itemtitle {
  font-size: 250%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemtitle1 {
  font-size: 150%;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemprice {
  font-size: 200%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: blue;
}

.itemprice1 {
  font-size: 120%;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: blue;
}

.itemrating {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemrating1 {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//rating
.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.star1 {
  position: relative;
  display: inline-block;
  font-size: 150%;
  color: #d3d3d3;
}

.full {
  //color: var(--col2vl);
  //color: var(--col4);
  color: rgb(255, 215, 0);
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  //color: var(--col4);
  color: rgb(255, 215, 0);
}


