.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(94vh - 39px);
    width: 80vw;
    //max-width: 100vw;
    color: black;
    overflow-y: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.heading{
    width: 100%;
    height: 10vh;
    align-items: center;
    font-size: 300%;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.orderbody{
    height: calc(84vh - 39px);
    display:flex;
    flex-direction: row;
}

.filterbody{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    overflow-y: auto;
}

.filterbodypartone{
    height: 20vh;
    display: flex;
    flex-direction: row;
}

.fbpartoneleft{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    font-size: 200%;
    text-align: center;
    justify-content: space-evenly;
    
}

.fbpartoneright{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.filterbutton{
    flex-basis: 10%;
    background-color: var(--col4);
    position: relative;
    border-radius: 2px;
    font-size: 150%;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: 0 10%;
    padding: 5%;
}

.shopnow{
    font-size: 50%;
    padding: 0 2%;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin: 2%;
}
.fbparttwoheading{
    height: 8vh;
    font-size: 200%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fbparttwobodycont{
    height: 5vh;
}

.ordersbody{
    height: calc(84vh - 30px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.ob1{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 300%;
}

.ordersbodyongoing{
    display: flex;
    flex-direction: column;
    
}

.ongoingheading{
    width: 100%;
    height: 8vh;
    align-items: center;
    font-size: 300%;
    position: sticky;
    top: 0;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--col4);
    color: white;
    z-index: 1;
}

.ongoingbody{
    
}

.ongoingbodyorder{
    width: 100%;
    
}

.ongoingbodyorderheading{
    height: 5%;
    padding: 2%;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    position: sticky;
    top: 8vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.ongoingbodyorderbody{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemcard{
    background-color: white;
    width: 25vw;
    height: 40vh;
    margin: 2%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
}

.itemcard:hover{
    background-color: rgb(223, 223, 223);
}

.iteminfo{
    flex-basis: 50%;
    display: flex;
    border-bottom: solid thin silver;
}
.itempic{
    width: 20vh;
    height: 20vh;
    background-color: bisque;
}

.itemmeta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2%;
}

.itemmetacont{

}

.ordersbodypast{
    display: flex;
    flex-direction: column;
}

.pastheading{
    width: 100%;
    height: 8vh;
    align-items: center;
    font-size: 300%;
    position: sticky;
    top: 0;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--col4);
    color: white;
    z-index: 1;
}

.pastbodyorder{
    width: 100%;
    
}

.pastbodyorderheading{
    position: sticky;
    top: 8vh;
    height: 5%;
    padding: 2%;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.pastbodyorderbody{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.orderinfo{
    flex-basis: 50%;
    display: flex;

    padding: 0 2%;
}

.deliveryaddress{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logisticsinfo{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logisticsinfocont{
    flex-basis: 33%;
}

//rating
  .star {
    position: relative;
    display: inline-block;
    font-size: 150%;
    color: #d3d3d3;
  }
  
  .full {
    //color: var(--col2vl);
    //color: var(--col4);
    color: rgb(255, 215, 0);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    //color: var(--col4);
    color: rgb(255, 215, 0);
  }