<div class="main" *ngIf = "!error500">
    <div class="logincard">

        <div class="logintitle">
            Login
        </div>
        <div class="loginfield">
            <div class = "error" *ngIf = "error">
                {{errormessage}}
                <div *ngIf = "resendemail" style = "align-self: flex-end; background-color: black; padding: 2%; border-radius: 5px; cursor: pointer; margin-right: 2%; box-shadow: 1px 1px 2px rgb(75, 75, 75);" (click) = "resendmail()">Resend email</div>
            </div>
            <form [formGroup]="form" class="input">
                <input placeholder="Enter Email" formControlName="email" type="email" class="ip" *ngIf="!email">
                <div *ngIf="email" class="errormsg">
                    <div class="message sb1">
                        {{messageemail}}
                    </div>
                    <input placeholder="Enter Email" formControlName="email" type="email" class="ip iperror">
                </div>
                <input placeholder="Enter Password" formControlName="password" type="password" class="ip" *ngIf="!password">
                <div *ngIf="password" class="errormsg">
                    <div class="message sb1">
                        {{messagepassword}}
                    </div>
                    <input placeholder="Enter Password" formControlName="password" type="password" class="ip iperror">
                </div>
                <a routerLink="/forgotPassword" class="forgot">
                    Forgot Password?
                 </a>
                <a routerLink="/register" class="forgot">
                    Not registered yet? Click here.
                </a>
                
            </form>
            <div class="submit" (click)="validate()">
                <div class="submitbutton">
                    Login

                </div>

            </div>


        </div>

    </div>
</div>

<app-error500 *ngIf="error500"></app-error500>
