*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main{
    min-height: calc(106vh - 39px);
    background-image: url("../../assets/images/bg1.png");
    //background-color: var(--col3d);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    min-width: 100%;
    top: -6vh;
    left: 0;
    z-index: 1000;

}

.logincard{
    // border: solid black;
    height: 30vh;
    border-radius: 10px;
    width: 30vw;
    margin-left: 60%;
    margin-top: 6vh;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    // box-shadow: 1px 1px 5px  black;
}
.logintitle{
    // border: solid black;
    padding: 5%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 350%;
    text-align: center;
    flex-basis: 10%;

}

.loginfield{
    // border: solid pink;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}

.loader {
    align-self: center;
    border: 2px solid blue;
    border-radius: 50%;
    border-top: 2px solid  rgba(255, 0, 0, 0);
    border-right: 2px solid white;
    border-bottom: 2px solid  rgba(255, 0, 0, 0);
    border-left: 2px solid white;
    width: 100px;
    height: 100px;
    
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .l1{
    align-self: auto;
    width: 80px;
    height: 80px;
    margin: 10px;
    -webkit-animation: spin2 1s linear infinite;
    animation: spin2 1s linear infinite;
    
  }

  .l2{
    width: 60px;
    height: 60px;
    margin: 10px;
    border: none;
    background-image: url("../../assets/images/apple.jpg");
    background-size: 100% 100%;
    //-webkit-animation: spin 1s linear infinite;
    //animation: spin 1s linear infinite;
  }

//   .l3{
//     width: 40px;
//     height: 40px;
//     margin: 10px;
//     -webkit-animation: spin2 1s linear infinite;
//     animation: spin2 1s linear infinite;
//   }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @-webkit-keyframes spin2 {
    0% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes spin2 {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }

.error{

    flex-basis: 10%;
    background-color: rgb(255, 0, 0, 0.2); 
    border: red solid thin;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// .input{
   
//     display: flex;
//     flex-direction: column;
//     padding: 20px;
//     flex-basis: 70%;
//     justify-content: space-evenly;

// }

// .ip{
//     //background-color: var(--col3vl);
//     border-radius: 5px;
//     height: 20%;
//     font-size: 150%;
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
// }

// .errormsg{
//     height: 20%; 
//     width: 200%; 
//     display: flex; 
//     margin-left: -100%; 
//     justify-content: space-between;
// }

// .iperror{
//     border: red thin solid; 
//     flex-basis: 50%; 
//     height: 100%; 
//     box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.2);
// }

// .message {
//     flex-basis: 40%;
//     background:  #EF9E25;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
//     margin-left: 8%;
//     font-weight: 900;
//     color: #fff;
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//     position: relative;
//     transition: 2s ease-in;
//     animation: 0.5s cloud ease-in forwards;
//     opacity: 0;
//   }
  
//   .sb1:before {
//     content: "";
//     width: 0px;
//     height: 0px;
//     position: absolute;
//     border-left: 10px solid #EF9E25;
//     border-right: 10px solid transparent;
//     border-top: 10px solid  #EF9E25;
//     border-bottom: 10px solid transparent;
//     right: -19px;
//     top: 6px;
//     animation: 0.5s cloud ease-in forwards;
//     opacity: 0;
//   }
  
@keyframes cloud{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

// .submit{
//     display: flex;
//     flex-direction: column;
//     flex-basis: 30%;
//     justify-content: center;
// }

// .forgot{
//     color: white;
//     align-self: center;
//     font-weight: bolder;
//     font-size: 120%;
//     cursor: pointer;

// }

// .submitbutton{
//     // border: blue solid;
//     width: fit-content;
//     align-self: center;
//     padding: 2% 5% ;
//     font-size: 150%;
//     background-color:  #EF9E25;
//     color: black;
//     border-radius: 10px;
//     box-shadow: 2px 2px 5px  black;
//     cursor: pointer;


// }

// .submitbutton:hover{
//     box-shadow: none;
// }

@media (max-width: 1200px){

    .main{
        align-content: center;
    }

    .logincard{
        margin-left: 0;
        align-self: center;
        width: 90vw;
        height: 90vh;
    }

    .errormsg{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        height: 30%;
        margin-top: 5%;
    }

    .message{
        // height: 5px;
        // flex-basis: -100%;
        padding: 0;
        height: 50%;
        margin-bottom: 10px;
        //margin-top: 12px;
        width: 100%;
        margin-left: 0;
        background: var(--col2vl);
        color: black;
    }

    .iperror{
        height: 100%;
        flex-basis: 100%;
    }

    .sb1:before {
        display: none;
      }
}
