:root{
 

    --big-font-size: 6rem;
   

    @media screen and (min-width: 768px){
     
        --big-font-size: 12rem;
     
    }
}

#divWeatherMain{

    display: flex;
    top:0;
    margin: 0;
    padding: 5vh ;
    align-items: center;
    justify-content: space-between;
    //border-radius: 10px;
    //width: 200px;
    //height: 220px;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    color: white;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow{
  width: 100%;
  height: 8vh;
  //position: relative;
  //justify-content: space-between;
  //padding: 0 6vw;
   // display: inline-block;
    margin:0 auto;
    width: fit-content;
}

.sun{
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv{
    margin-top: -40px;
}

.cloud{
    color: rgb(104, 175, 197);
    filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{margin-left: 65px;}
}
.img1{
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.card {
    width: 300px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }
  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }
  .card-image {
    grid-area: image;
    //background: url("https://images.unsplash.com/photo-1456894332557-b03dc5cf60d5?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=675&q=80");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;}
    .img-card-1{
      background: url("../../assets/images/aid-4.jpg");
    }
    .img-card-2{
      background: url("../../assets/images/aid-6.jpg");
    }
    .img-card-3{
      background: url("../../assets/images/aid-7.jpg");
    }
  
  
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: #236477;
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #236477;
  }
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card{
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }




  .fact-section{
    width: 100%;
    height: 30vh;
}

  
    //skill-over-text-mask
    .fact-1{
    margin: 0;
    height: 30vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   font-size: var(--big-font-size);
   .h11{
     display: flex;
     flex-direction: column;
     justify-content: center;
       background-clip: text;
       font-weight: bold;
       font-family: 'Montserrat',sans-serif;
  color: transparent;
  //: aqua;
  text-align: center;
  font-size: 30vh;
  height: 30vh;
  //font-size: var(--big-font-size);
  //font-size: 2em;
  background-image: url('../../assets/images/aid-4.jpg');
  //background-image: url("../../assets/ads/Frame\ 3.png");
  background-size: 30vh 100vw;
  box-shadow: 0px,2px,10px,rgba(0,0,0,0.7);
  //-webkit-background-clip: text;
  object-fit: cover;

   }
    }
    



    .carousel-caption {
      position: absolute;
      z-index: 1;
      display:table;
      width:100%;
      height:100%;
  }
  
  .absolute-div {
      position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
  }
  
  .carousel-caption h3 {
    left: 0;
    margin: 0;
   align-content: center;
      display:table-cell;
      vertical-align: middle;
      text-align:center;
      z-index: 5;
      font-weight: 500;
      font-size: x-large;
  }
  //statics
 

/* Container for bars */
.stats{
  padding:10vh 10vw 10vh 10vh;
  p{
    color: #000;
  }
  h1,h2{
    align-items: center;
    color: #000;
  }
}

.container1 {

  box-sizing:border-box;
  width:100%; /* Full width */
  background-color: #ddd; 
}

.item {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color:#000; 
}

.Potatoes {width: 90%; background-color: #4CAF50;} 
.Tomatoes {width: 80%; background-color: #2196F3;} 
.Banana {width: 65%; background-color: #f44336;} 
.Apples {width: 60%; background-color: #808080;} 

.stats-2{
  width: 100%;
  align-items: center;
 
}
.chart-2{

    padding:5vh 5vw 5vh 5vh;
  float: left;
  width: 50%;
  
}