<div style="width: 100vw;">
    <div id="coverVideo">
        
        <video id="contentVideo" loop muted autoplay>
            <source src="../../assets/videos/video1.mp4" type="video/mp4">
        </video>
    </div>
    <div class = "info">
        <div class = "siteinfo">
            Krishi Brahmand is an apllication which majorly aims to allow and manage transparent business between a farmer and a consumer.
        </div>
        <div class = "devinfo">
            <div class = "dev">
                <div class = "photo">

                </div>
                <div class = "nameandemail">
                    <div class = "ne">
                        Vaishnavi Sunil Desai
                    </div>
                    <div class = "ne">
                        <b>vaishnavisdesai@gmail.com</b>
                    </div>
                </div>
            </div>
            <div class = "dev">
                <div class = "photo">

                </div>
                <div class = "nameandemail">
                    <div class = "ne">
                        Isha Ghiria
                    </div>
                    <div class = "ne">
                        <b>ishankg99@gmail.com</b>
                    </div>
                </div>
            </div>
            <div class = "dev">
                <div class = "photo">

                </div>
                <div class = "nameandemail">
                    <div class = "ne">

                    </div>
                    <div class = "ne">
                        <b>anikatiberwala@gmail.com</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div><br> -->

    <div class="footer">


        <!--<a><i class="fab fa-linkedin-in"></i></a>
                  <a><i class="fab fa-github"></i></a>
                  <a><i class="fab fa-twitter"></i></a>-->
        <div class="overlay">
            <div class="links-social">
                <!-- <a><i class="fa fa-linkedin-in"></i></a> -->
                <a><i class="fa fa-github"></i></a>
                <a><i class="fa fa-twitter"></i></a>
                <a><i class="fa fa-medium"></i></a>
                <!-- <a><i class="fa fa-discord"></i></a> -->
                <a><i class="fa fa-instagram"></i></a>

            </div>
        </div>
        <footer>
            <hr>
            <p class="copyright">All Rights Reserved © HackOverflow 2021</p>
        </footer>
    </div>
</div>