<div style = "height: 30vh;">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div>
    <br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius non quae voluptatum vel magnam totam
        nulla harum nemo aliquam id quas voluptas deleniti magni explicabo, odit obcaecati dolorum minus!</div><br>
    
    <div class="footer">
        <div id="coverVideo">
    
            <video id="contentVideo" loop muted autoplay poster="img/videoframe.jpg">
                <source src="./video1.mp4" type="video/mp4">
            </video>
        </div>
    
        <!--<a><i class="fab fa-linkedin-in"></i></a>
              <a><i class="fab fa-github"></i></a>
              <a><i class="fab fa-twitter"></i></a>-->
        <div class="overlay">
            <div class="links-social">
                <a><i class="fa fa-linkedin-in"></i></a>
                <a><i class="fa fa-github"></i></a>
                <a><i class="fa fa-twitter"></i></a>
                <a><i class="fa fa-medium"></i></a>
                <a><i class="fa fa-discord"></i></a>
                <a><i class="fa fa-instagram"></i></a>
    
            </div>
        </div>
        <footer>
            <hr>
            <p class="copyright">© GROUP TITLE 2015</p>
        </footer>
    </div></div>